.modal {
  /* display: none; Скрыть модальное окно по умолчанию */
  position: fixed;
  /* justify-content: center;
  align-items: center; */
  z-index: 10000; /* Расположить поверх контента */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4); /* Прозрачный фон */
}

/* Стили для контента модального окна */
.modal-content {
  background-color: #fff;
  position: fixed;
  top: 50vh;
  left: 50%;
  transform: translate(-50%, -50%);
  /* margin: 15% auto; */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Ширина окна */
  height: 400px;
  max-width: 500px;
}

/* Кнопка для закрытия модального окна */
.close-btn {
  color: #aaa;
  font-size: 28px;
  font-weight: bold;
  position: absolute;
  top: 10px;
  right: 15px;
  cursor: pointer;
}

/* При наведении на кнопку закрытия */
.close-btn:hover,
.close-btn:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}