.modal {
  display: none;
  position: fixed;
  /* justify-content: center;
  align-items: center; */
  z-index: 10000; /* Расположить поверх контента */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4); /* Прозрачный фон */
  backdrop-filter: blur(10px);
}

/* Стили для контента модального окна */
.modal-content {
  position: relative;
  top: 50vh;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #EEF3FE;
  /* margin: 15% auto; */
  padding: 50px 0 50px 0;
  width: 80%; /* Ширина окна */
  height: 75vh;
  max-width: 75vw;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.modal_img {
  position: relative;
  width: 40%;
  height: 100%;
  overflow: hidden;
}

.modal_img img {
  position: absolute;
  height: 100%;
  right: 0;
}

.modal-c1 {
  /* max-width: 500px; */
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.modal-content .top_h {
  width: 100%;
  font-family: "Rubik Mono One", serif;
  color: #7EA5D3;
  cursor: default;
  margin-bottom: 25px;
  text-align: right;
}

.modal-content h1 {
  font-size: 64px;
  line-height: 0;
}

.modal-content a {
  display: block;
  width: 100%;
  text-align: center;
  font-family: "Rubik Mono One", serif;
  color: #7EA5D3;
  font-size: 36px;
  transition: all 1s ease;
}

.modal-content a:hover {
  color: #3c4e63;
  margin-left: 5%;
  text-decoration: overline;
}

.input_block {
  height: 30%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.modal-content input {
  /* display: block; */
  width: 100%;
  /* height: 100%; */
  height: 20px;
  padding: 10px;
  border: 0;
  background-color: transparent;
  border-bottom: 2px solid #7EA5D3;
  transition: all 1s ease;
}

.modal-content input:focus {
  border: 0;
  outline: none;
  border-bottom: 2px solid #3c4e63;
}

.modal-content input:focus::-webkit-input-placeholder {
  display: flex;
  position: absolute;
  opacity: 0.5;
  margin-top: -10px;
  font-size: 10px;
  transition: all 0.5s ease;
}

/* Кнопка для закрытия модального окна */
.close-btn {
  color: #aaa;
  font-size: 28px;
  font-weight: bold;
  position: absolute;
  top: 10px;
  right: 15px;
  cursor: pointer;
  transform: rotate(0deg);
  transition: all 1s ease;
}

/* При наведении на кнопку закрытия */
.close-btn:hover,
.close-btn:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
  transform: rotate(270deg);
}

.top_h1 {
  animation: animationName 1s ease;
}

@keyframes animationName {
  0% {
      transform: translateX(-40%);
      opacity: 0.45;
  }
  100% {
      transform: translateX(0);
      opacity: 1;
  }
}

.top_p {
  animation: animationNameP 1s ease;
}

@keyframes animationNameP {
  0% {
      transform: translateX(7%);
      opacity: 0.45;
  }
  100% {
      transform: translateX(0);
      opacity: 1;
  }
}
