/* services */

.services {
   width: 100%;
   height: 100vh;
   display: flex;
   align-items: center;
   text-align: center;
   justify-content: center;
   flex-direction: column;
   background: #7EA5D3;
   overflow: hidden; /* Скрыть все, что выходит за пределы контейнера */
   position: relative;
}

.services_h1 {
   /* height: 4vh; */
   position: absolute;
}

.services_h1 h1 {
   margin-top: -1vh;
   letter-spacing: 8px;
   color: #7EA5D3;
   opacity: 0.75;
   font-family: "Rubik Mono One", serif;
   font-size: 340px;
   font-weight: 200;
   color: #fff;
}

.cards {
   height: 97vh;
   display: flex;
   /* flex-wrap: wrap; */
   white-space: nowrap;
   position: relative;
   top: -15vh;
   align-items: center;
   align-content: center;
   justify-content: center;
   transition: all 15s ease;
}

.card-1 {
   margin: 30px;
   width: 560px;
   height: 320px;
   color: #fff;
   display: flex;
   justify-content: right;
   position: relative;
   overflow: hidden;
   flex: 0 0 auto;
   transition: transform 1s ease;
   cursor: pointer;
   box-shadow: #7EA5D3 10px 10px 10px;
   transition: all 1s ease;
}

.card-2 {
   margin: 30px;
   width: 560px;
   height: 320px;
   margin-top: 600px;
   color: #fff;
   display: flex;
   justify-content: right;
   overflow: hidden;
   flex: 0 0 auto;
   cursor: pointer;
   box-shadow: #7EA5D3 10px 10px 10px;
   transition: all 1s ease;
}

.card-3 {
   margin: 30px;
   width: 560px;
   height: 320px;
   color: #fff;
   display: flex;
   justify-content: right;
   padding-top: -20vh;
   overflow: hidden;
   flex: 0 0 auto;
   cursor: pointer;
   box-shadow: #7EA5D3 10px 10px 10px;
   transition: all 1s ease;
}

.card-4 {
   margin: 30px;
   width: 560px;
   height: 320px;
   margin-top: 600px;
   color: #fff;
   display: flex;
   justify-content: right;
   overflow: hidden;
   flex: 0 0 auto;
   cursor: pointer;
   box-shadow: #7EA5D3 10px 10px 10px;
   transition: all 1s ease;
}

.card1img {
   width: 100%;
   height: 100%;
   filter: blur(0px);
   transition: all 0.5s ease;
}

.card2img {
   width: 560px;
   height: 320px;
   filter: blur(0px);
   transition: all 0.5s ease;
}

.card3img {
   width: 100%;
   height: 100%;
   filter: blur(0px);
   transition: all 0.5s ease;
}

.card4img {
   width: 100%;
   height: 100%;
   filter: blur(0px);
   transition: all 0.5s ease;
}

.card-1_text {
   display: inline;
   position: absolute;
   text-align: right;
   margin-right: 2vh;
   z-index: 2;
}

.card-1_text h1 {
   color: #fff;
}

.card-1_text h2 {
   margin-top: 20vh;
   font-size: 40px;
   opacity: 0;
   font-family: "Rubik Mono One", serif;
   transition: opacity 1s ease;
}

.card-2_text {
   display: inline;
   position: absolute;
   text-align: right;
   margin-right: 2vh;
   z-index: 2;
}

.card-2_text h1 {
   color: #fff;
}

.card-2_text h2 {
   margin-top: 20vh;
   font-size: 40px;
   opacity: 0;
   font-family: "Rubik Mono One", serif;
   transition: opacity 1s ease;
}

.card-3_text {
   display: inline;
   position: absolute;
   text-align: right;
   margin-right: 2vh;
   z-index: 2;
}

.card-3_text h1 {
   color: #fff;
}

.card-3_text h2 {
   margin-top: 20vh;
   font-size: 40px;
   opacity: 0;
   font-family: "Rubik Mono One", serif;
   transition: opacity 1s ease;
}

.card-4_text {
   display: inline;
   position: absolute;
   text-align: right;
   margin-right: 2vh;
   z-index: 2;
}

.card-4_text h1 {
   color: #fff;
}

.card-4_text h2 {
   margin-top: 20vh;
   font-size: 40px;
   opacity: 0;
   font-family: "Rubik Mono One", serif;
   transition: opacity 1s ease;
}
