/* services */

.services {
   width: 100%;
   height: 100vh;
   display: flex;
   align-items: center;
   text-align: center;
   justify-content: center;
   flex-direction: column;
   background: #7EA5D3;
   overflow-x: auto;
   overflow: hidden; /* Скрыть все, что выходит за пределы контейнера */
   position: relative;
}

.services_h1 {
   /* height: 4vh; */
   position: absolute;
}

.services_h1 h1 {
   margin-top: -1vh;
   letter-spacing: 8px;
   color: #7EA5D3;
   opacity: 0.75;
   font-family: "Rubik Mono One", serif;
   font-size: 340px;
   font-weight: 200;
   color: #fff;
   cursor: default;
}

.swiper-container {
   width: 100%;
   height: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
   position: relative;
}

.swiper-slide {
   width: 3px;
   height: 270px;
}

.swiper-slide img {
   width: 100%;
   height: 100%;
}

.card-2 {
   margin-top: 13%;
}

.card-4 {
   margin-top: 13%;
}

.swiper-wrapper {
   display: flex;
   justify-content: center;
   align-items: center;

}