/* contact */
.contact {
   width: 100%;
   height: 100vh;
   display: flex;
   text-align: center;
   justify-content: start;
   flex-direction: column;
   align-items: center;
   background: #fff;
}

.contact_text {
   display: flex;
   text-align: center;
   margin-top: -10vh;
}

.contact_text h1 {
   letter-spacing: 8px;
   color: #7EA5D3;
   opacity: 0.75;
   font-family: "Rubik Mono One", serif;
   font-size: 80px;
   font-weight: 200;
}


.services_section,
.contact_section {
   position: relative;
   z-index: 1; /* ��� ����� ������ ��������, ����� ������� ��� ���������� */
}

.feedback-form {
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   text-align: center;
}

#name {
   width: 50vw;
   height: 3vh;
   margin: 30px;
   border: none;
   padding: 15px;
}

#email{
   width: 50vw;
   height: 3vh;
   margin: 30px;
   border: none;
   padding: 15px;
}

#number {
   width: 50vw;
   height: 3vh;
   margin: 30px;
   border: none;
   padding: 15px;
}

.contact_a {
   width: 50vw;
   height: 3vh;
   margin: 30px;
   border: none;
   padding: 15px 15px;
   background: #fff;
   text-decoration: none;
   color: black;
   cursor: pointer;
   font-weight: 600;
   font-size: 22px;
}

.contact_a:hover {
   transition: 0.36s;
   background: #4f5b75;
   color: #fff;
}

/* Modals */

/* Скрываем модальное окно по умолчанию */
.modal1 {
   display: none;
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background-color: rgba(0, 0, 0, 0.8);
   justify-content: center;
   align-items: center;
   z-index: -1000;
   animation: fadeIn 0.5s;
 }
 
 @keyframes fadeIn {
   from {
     opacity: 0;
   }
   to {
     opacity: 1;
   }
 }
 
 /* Контейнер содержимого модального окна */
 .modal-content {
   width: 100%;
   height: 100vh;
   position: relative;
   animation: zoomIn 0.5s;
 }
 
 @keyframes zoomIn {
   from {
     transform: scale(0.8);
     opacity: 0;
   }
   to {
     transform: scale(1);
     opacity: 1;
   }
 }
 
 .full-image {
   max-width: 100%;
   max-height: 100%;
}
 
 /* Кнопка закрытия */
 .close {
   position: absolute;
   top: 10px;
   right: 20px;
   color: white;
   font-size: 30px;
   font-weight: bold;
   cursor: pointer;
   transition: color 0.3s;
 }
 
 .close:hover {
   color: #ff0000;
 }

/* Contact */

.contact_main {
   height: 100vh;
   width: 100%;
   display: flex;
   justify-content: space-between;
}

.contact_main path {
   width: 50%;
   height: 100%;
}

.contact_main .contact_content {
   width: 50%;
   height: 100%;
   display: flex;
   flex-direction: column;
   align-items: start;
   padding-left: 1%;
   letter-spacing: 47%;
   line-height: 240%;
}

.contact_content .links {
   display: flex;
   flex-direction: column;
   align-items: start;
}

a, a:link, a:visited, a:hover  {
   text-decoration: none;
}

button {
  font-family: inherit;
   font-size: inherit;
   color: inherit;
}
button:focus, button:active {
   outline: none;
}
button:hover {
   cursor: pointer;
   background-color: white;
}

.contact_content button {
   transition-duration: 1s;
   transition-property: background-color;
   width: 14.6412vw;
   aspect-ratio: 1;
   border: none;
   border-radius: 50%;
   align-self: center;
   font-size: 1rem;
   letter-spacing: 47%;
}